# 1. What are the differences between operators and values in the following?

'hello' – String Value

-87.8  - Floating Values

-

/

+

6 - Integer

Ans : Values are inputs which is to be stored in a Variable.

          Operators: Operators are used to perform mathematical operations. Operators are the type of variables.
          
Eg : 'hello' – String values stored in “ ” or ‘ ‘. To check the type of variable in python is , type(‘hello’)

# 2. What is the difference between string and variable?

spam
'spam'

Spam is a variable which helps us to store a variable.

‘ spam ‘ is a value in the form of string. The string ‘spam’ can be stored in variable called spam. 

Eg : Spam =’spam’

# 3. Describe three different data forms.

The python data forms are 

1.	Numeric – Numeric forms are any integers and floating values.
2.	String – String forms are used to store any character and string values in “ “ or ‘  ’.
3.	Boolean – Boolean data forms are either True or False in python.

# 4. What makes up an expression? What are the functions of all expressions?

If the line contains any arithmetic, relational logical expressions, this will be treated as a expression in python.

Apart from that if the line performs any comprehensive functions, it will be treated as expression.

Arithmetic Operator: (+,-,*,/)

Relational Operator : ( >,>=, <,<=,==, !=)

Logical Operator – AND, OR 

	AND – AND operator helps to define two or more conditions in an expression that must satisfy all the conditions to execute the code.

    OR – OR operator helps to define two or more conditions in an expression, If any one condition satisfies the expression will be executed.

# 5. In this chapter, assignment statements such as spam = 10 were added. What's the difference between a declaration and an expression?

Declaration – Declaration is to defining a variable or values into an particular Variable name.

Eg : i=1

Expression : If the line contains more than one operator and performs operations within the scope it is called as Expression 
and the expression contains any arithmetic, relational and logical operators.

In [2]:
i=1
n=5
for i in range(n):
    print(i)
    i+=1

0
1
2
3
4

# 6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

Ans : Bacon contains integer 22 and with bacon , integer 1 is added but it is not stored in a variable. 

So, the bacon still contains the integer 22.

In [4]:
bacon = 22
bacon + 1
bacon

22

# 7. What should the values of the following two terms be?

Ans:

'spam' + 'spamspam' =Adding ‘spam’ with ‘spamspam’ again and again . It will result as ‘spamspamspam’

'spam' * 3  =Multiplying ‘spam’ 3 times, it will result as ‘spamspamspam’

In [5]:
'spam' + 'spamspam'

'spamspamspam'

In [6]:
'spam' * 3

'spamspamspam'

# 8. Why is it that eggs is a true variable name but 100 is not?

* Variable definition should follow some conditions like.

* Variable name starts with any char.

* Variable should not start with any integer and special characters.

* in the above case “ eggs “ starts with alphabetic character so it is valid. But 100 is an integer, so we cannot define the integer as variable name.

In [8]:
eggs =10
eggs

10

In [9]:
100=100

SyntaxError: cannot assign to literal (<ipython-input-9-f7b4941675b3>, line 1)

# 9. Which of the following three functions may be used to convert a value to an integer, a floating-point number, or a string?

Ans   
1.	Converting Float into Integer: A=10.10,  B= int(A) , B= 10 ,Now A is converted into an integer.

2.	Converting integer into an string  A=10, B=str(A)  B= ‘10’.

3.	Converting integer to an float value A=10, B=float(A) B=10.0

In [17]:
#1 - Float to interger
A=10.10
B=int(A)
print("integer is ",B)

#2 Integer to String :

C=10
D=str(C)
print("The string is {} ".format(D))

#3 integer to float :

E=10
F=float(E)
print("The float value is ",F)

integer is  10
The string is 10
The float value is  10.0

# 10. What is the error caused by this expression? What would you do about it?

'I have eaten ' + 99 + ' burritos.'

Ans : We will get type error” can only concatenate str (not "int") to str”, by following the above expression. 

The Correct expression would be  'I have eaten'+ str( 99 ) + 'burritos'

In [19]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [20]:
'I have eaten'+ str( 99 ) + 'burritos'

'I have eaten99burritos'